doctype html
html(lang="en")
    head
        title Flash Cards
    body
        table
            thead Test Table
                th
                    tr
                        td First Name
                        td Last Name
                tbody
                    tr
                        td= firstName
                        td= lastName